/* universal styles */






/* footer */

header {
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  height: 32px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.name span {
  font-weight: bold;
}

nav li {
  border: 1px solid red;
  height: 32px;
  display: inline-flex;
  align-items: center;
}

nav .space {
  margin-right: 16px;
}








/* header */
