/* revoir font styles */

/*revoir couleur nav links hover */

/* choisir couleur banner button + hover + hover link */

/* vérifier espace entre premiere image et texte sur la droite */

/* trouver une 2e police de caractère en renfort */


/* universal styles */

html {
  font-size: 16px;
}

body {
  width: 70%;
  margin: 0 auto;
  font-family: "Alegreya Sans", sans-serif;
}

/* header */

header {
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Neuton', sans-serif;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

.name {
  height: 2rem;
  display: flex;
  align-items: center;
}

.name span {
  font-weight: 700;
}

nav li {
  height: 2rem;
  display: inline-flex;
  align-items: center;
}

nav .space {
  margin-right: 1rem;
}

nav a {
  color: black;
  text-decoration: none;
}

 nav a:hover {
   color: #3333ff;
   transition: color 0.1s linear;
 }

/* section learn */

.learn {
  width: 100%;
  display: flex;
  align-items: center;
}

.learn .left {
  width: 60%;
  margin: 32px 24px;
}

.learn img {
  max-width: 100%;
  height: auto;
}

.learn .text {
  width: 40%;
}

.learn h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800;
  font-size: 2.7rem;
  width: 70%;
}

.learn p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  margin-top: 1rem;
  width: 70%;
}

.learn #button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  width: 60%;
}

.learn #button a {
  text-decoration: none;
  color: white;
}

/* practice section - left column */

.practice {
  width: 100%;
  display: flex;
}

.practice .left {
  width: 60%;
  margin: 32px 24px;
}

.practice .right {
  width: 40%;
  margin-bottom: 32px;
}

.practice img {
  max-width: 100%;
}

.practice h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800;
  font-size: 2.7rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.practice p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.4rem;
}

#emanuel {
  margin-top: 2rem;
  font-size: 1.1rem;
}

/* practice section - right column */

.orientation,
.campus,
.guest {
  width: 100%;
  display: flex;
}

.orientation img,
.campus img,
.guest img {
  max-width: 100%;
  height: auto;
}

.orientation-pic,
.campus-pic,
.guest-pic {
  margin: 1rem 1rem;
  width: 35%;
}

#path {
  margin-top: 2rem;
}

.orientation-text,
.campus-text,
.guest-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.practice .right h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.practice .right .text-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.practice .right a {
  text-decoration: none;
}

/* start learning section  */

.start {
  width: 100%;
}

.start h1 {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800;
  font-size: 2.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.start h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.start p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
}

.start .courses {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.start .courses-list-1,
.start .courses-list-2 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.start img {
  max-width: 100%;
  height: auto;
}

.software-container,
.compart-container,
.design-container,
.data-container,
.business-container,
.marketing-container {
  width: 33.3%;
  background-color: #ffff99;
}

.compart-container,
.business-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.software-text,
.computer-text,
.design-text,
.data-text,
.business-text,
.marketing-text {
  padding: 1rem 1rem 1.5rem 1rem;
}

/* thesis exhibits */

.thesis h1 {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800;
  font-size: 2.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}




/* footer */

footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

footer li {
  display: inline-flex;
}

footer a {
  text-decoration: none;
  color: black;
}

.copyright {
  margin-left: 1.5rem;
}

.terms {
  margin-right: 1.5rem;
}

#privacy {
  margin-left: 1rem;
}
